.iconButton{

width:42px;

height:42px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

background:#fff;

border:1px solid var(--border);

transition:.3s;

}


.iconButton:hover{

background:var(--secondary);

color:#fff;

transform:translateY(-2px);

}