.offer{

padding:80px 0;

}


.content{

background:

linear-gradient(
135deg,
#0f172a,
#2563eb
);


border-radius:25px;

padding:60px;

color:#fff;

display:flex;

align-items:center;

justify-content:space-between;

gap:30px;

}



.small{

color:#f59e0b;

font-weight:700;

margin-bottom:15px;

}



.content h2{

font-size:40px;

max-width:600px;

margin-bottom:15px;

}



.content p{

max-width:600px;

}



.content button{

display:flex;

align-items:center;

gap:10px;

background:#fff;

color:#0f172a;

}



.content button:hover{

background:#f59e0b;

color:#fff;

}



@media(max-width:800px){

.content{

flex-direction:column;

text-align:center;

padding:40px;

}


.content h2{

font-size:30px;

}

}