.section{

padding:80px 0;

}



.box{

background:#0f172a;

border-radius:25px;

padding:50px;

color:white;

display:flex;

align-items:center;

justify-content:space-between;

gap:30px;

}



.box h2{

font-size:35px;

margin-bottom:15px;

}



.box p{

color:#cbd5e1;

}



.form{

display:flex;

background:#fff;

border-radius:12px;

overflow:hidden;

}



.form input{

border:none;

outline:none;

padding:15px 20px;

width:250px;

font-size:15px;

}



.form button{

border:none;

background:#2563eb;

color:white;

padding:0 25px;

display:flex;

align-items:center;

gap:8px;

cursor:pointer;

}



@media(max-width:800px){


.box{

flex-direction:column;

text-align:center;

}



.form{

width:100%;

}



.form input{

width:100%;

}

}